.App {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;
}
.App.ligth{
  background:#f0f8ff;
  transition: 0.3s;
}
.App.dark{
  background:#121216;
  transition: 0.3s;
}

.Btn{
  position: absolute;
  top: 40px;
  right: 40px;
}